<!-- <div>
  Hello there {{title}}

  <br/>
  <input type="text" name="name" (input)="changeNameHandler($event)" [value]="name">
<br/>
{{name}} -->
  <!-- <button disabled="true">Submit</button> -->
  <!-- <button [disabled]="active" (click)="submit()">Submit</button>
  
  <app-product></app-product>
  <app-product></app-product>
  <app-product></app-product>
</div> -->

<!-- <app-post [heading]="'Post 1'" (remove)="onDeletePost($event)"></app-post>
 <app-post [heading]="'Post 2'" (remove)="onDeletePost($event)"></app-post>
  <app-post [heading]="'Post 3'" (remove)="onDeletePost($event)"></app-post> 
  <app-product></app-product>
-->

  <!-- <app-products></app-products> -->
  <!-- <app-vehicles></app-vehicles>
  <app-inventory></app-inventory> -->
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-observsample></app-observsample> -->
  <!-- <app-sample></app-sample> -->

  <!-- <div>
    <input type="text" #inputText>
    <button (click)="searchText(inputText)">Search</button>
  </div> -->
<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->
<!-- 
<ul>
  <li routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="">Home</a> </li>
  <li routerLinkActive="active" ><a [routerLink]="['products']">Products</a>   </li>
  <li routerLinkActive="active" ><a href="/blog">Blog</a></li>
</ul>

<router-outlet></router-outlet> -->
<app-park [title]="'National Park'"></app-park>